.equipaje{
    background-color: antiquewhite;
    display: flex;
    width: 40%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 30px;
   
    button{
        width: 100px;
        height: 60px;
        padding: 2px;
        font-size: 0.7em;
    }
    button:hover {
        background-color: rgb(199, 77, 144);
        border: none;
        color: #fff;
      }
}

.title__vuelos{
    margin-left: 30px;
}

