.form {
    background-color:#f0f0f3;
    width: 35%;
    height: 52%;
    margin-top: 85px;
    position: absolute;
    z-index: 1;
    padding: 5px;
    border-radius: 15px;

    button {
        background-color: rgb(161, 43, 136);
        padding: 10px;
        border: none;
        border-radius: 15px;
        width: 93%;
        margin-left: 20px;
       margin-top: 60px;
        color: #fff;
        cursor: pointer;
    }

    &__btn-trips {
        border: 1px solid black;
        width: 200px;
        padding: 2px;
        margin-left: 20px;
        background-color: #fff;
        margin-bottom: 10px;
        display: flex;

        button {
            padding: 2px;
            margin: 2px;
            border: none;
            background-color: transparent;
            color: black;
            cursor: pointer;
        }
        button:hover {
            background-color: rgb(199, 77, 144);
            border: none;
            color: #fff;
            border-radius: 2px;
          }
       
    }

    &__select {
        display: flex;
        width: 95%;
        margin-left: 20px;
        padding-right: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        

        &__origen {
            width: 45%;
            border: 1px solid black;
            text-align: center;
            background-color: #fff;
            select {
                width: auto;
                border: none;
                background-color: transparent;
                justify-content: center;
            }

            label {
                color: rgb(71, 70, 70);
                font-size: small;
            }
        }

        &__destino {
            width: 45%;
            border: 1px solid black;
            text-align: center;
            background-color: #fff;

            select {
                width: auto;
                border: none;
                background-color: transparent;
                text-align: center;
            }

            label {
                color: rgb(71, 70, 70);
                font-size: small;
            }
        }

        &__date {
            display: flex;
            width: 95%;
            margin-left: 20px;
            padding-right: 10px;
            justify-content: space-between;
            margin-bottom: 10px;

        }

    }

    &__pasajeros {
        display: flex;
        width: 95%;
        margin-left: 20px;
        padding-right: 10px;
        margin-bottom: 10px;
        justify-content: space-between;
        position: absolute;

        &__select {
            display: flex;
            flex-direction: column;
            width: 44%;
            border: 1px solid black;
            text-align: center;
            background-color: #fff;
            font-size: small;
        }

        &__promocion {
            width: 44%;
            border: 1px solid black;
            background-color: #fff;
            margin-right: 10px;
            label {
                color: rgb(71, 70, 70);
                font-size: small;
                text-align: center;
            }

            input {
                width: auto;
                border: none;
                background-color: transparent;
                text-align: center;
            }
        }
    }

    &__title {
        width: 95%;
        margin-left: 20px;
        padding-right: 10px;
        h1 {
            font-size: 30px;
        }

        span {
            color: rgb(70, 68, 68);
        }
    }

}

.date_input {
    width: 45%;
    border: 1px solid black;
    text-align: center;
    background-color: #fff;
    input {
        width: auto;
        border: none;
        background-color: transparent;
        text-align: center;
    }

    label {
        color: rgb(71, 70, 70);
        font-size: small;
    }
}
.options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 40px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
.Counter{
    width: 100px;
    height: 30px;
    border: 1px solid #0a0a0a;
    color: #0a0a0a;
    cursor: pointer;
    background-color: white;
}
.CounterNumber{
    margin: 2px;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #0a0a0a;
}

